body {
  background-color: rgb(115, 40, 111);
  margin: 0;
}
form {
  display: flex;
  flex-direction: column-reverse;
}
.search-img {
  height: 25vh;
}
button {
  background-color: rgb(115, 40, 111);
  border: none;
  width: 25vh;
  margin-top: 20vh;
}
button:hover {
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
}
.search-input {
  height: 3rem;
  outline: none;
  margin-top: 2rem;
  background-color: rgb(197, 205, 212);
  border: none;
  font-size: 2rem;
  font-family: Barriecito;
}
.home-img {
  height: 10vh;
}
